      <form action="/duties" method="POST">
            <label for="duties">Duties:</label>
        <input id="duties" type="text" name="duties" />
        <br/>
  -----------------------------------------------------


<h1>Duties</h1>

<ul>
    <% @duties.each do |duty| %>
        <li><%= duty %></li>
    <% end %>
</ul>

<a href="/duties/new">Add duties</a>

