<html>
  <h1><%= @link_text %></h1>
<h1>Fill Out This Form. It can't be blank!</h1>

  <form action="/welcome" method="POST">
      Your Name: <input type="text" name="name">
      <br/>
      Your Car: <input type="text" name="car">
      <br/>
      Mod: <input type="text" name="mod">
      <br/>
      
  <input type="submit">
   
</html>

