<html>
<h1>Fill Out This Form. It can't be blank!</h1>

  <form action="/hello/" method="POST">
      Your Name: <input type="text" name="name">
      <br/>
      Your job: <input type="text" name="job">
      <br/>
      
      <input type="submit">
  </form> 



</html>