<html>
<body>
  <h2>Main Page</h2>
    <p>Hi <%= name %>! It's cool that you <%= job %> for a living.</p>
    <p>Thanks for taking the time to be you</p>
    <p>Here is a <a href='/'><%= @link_text %></a>.</p>
    <p><%= SiteConfig.test %></p>
  
  
    
  
</body>
</html>